---
import { getTopProjects } from "../../utils/index"
import PostList from "./projects-list.astro"

const topProjects = await getTopProjects()
---

<div class="my-8 text-xl font-medium md:my-8">{"Top Projects"}</div>
{
    topProjects.map((post: any) => (
        <PostList post={post} dateFormat="YYYY-MM-DD" dateWidth="w-32" />
    ))
}
